<!--The content below is only a placeholder and can be replaced.-->
<div>
<label>Nombre</label>
<input type="text" placeholder="Ingrese el nombre" 
  [(ngModel)]="name">


</div>
{{name}}
<div>
  <label>Apellido</label>
  <input type="text"
  placeholder="Ingrese el apellido"
  [(ngModel)]="lastname">
</div>
{{lastname}}

<button (click)="mostrar()">
  Mostrar la información

</button>
<ng-container *ngIf="lista?.length>0">
  <h3>Mi Lista</h3>
  <ul>
    <li *ngFor="let item of lista">
      {{item}}
    </li>
  </ul>
  </ng-container>
